  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">Ticketing Tool</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a routerLink="/dashboard">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li *ngIf="employeeModel.role === 'Super Admin'">
        <a routerLink="/employee">
          <i class='bx bx-user'></i>
          <span class="links_name">Employee</span>
        </a>
        <span class="tooltip">Employee</span>
      </li>
      <li *ngIf="employeeModel.role === 'Super Admin'">
        <a routerLink="/department">
          <i class='bx bx-chat'></i>
          <span class="links_name">Department</span>
        </a>
        <span class="tooltip">Department</span>
      </li>
      <li>
        <a routerLink="/tickets">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Tickets</span>
        </a>
        <span class="tooltip">Tickets</span>
      </li>
      <li>
        <a routerLink="/new-ticket">
          <i class='bx bx-folder'></i>
          <span class="links_name">New Ticket</span>
        </a>
        <span class="tooltip">New Ticket</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <div class="name_job">
            <div class="name">{{employeeModel.employeeName}}</div>
            <div class="job">{{employeeModel.emailId}}</div>
            <div class="job">
              <span (click)="logout($event)">Logout</span>
            </div>
          </div>
        </div>
        <span class='bx bx-log-out' id="log_out"></span> 
      </li>
    </ul>
  </div>
  <section class="home-section">
    <router-outlet></router-outlet>
  </section>
