<div class="container">
    <div class="row pt-3">
        <div [ngClass]="isEmpForm? 'col-8': 'col-12'" class="border border-1 border-secondary rounded">
            <div class="row bg-success mb-2 align-items-center">
                <div class="col-10 h3">Employee List</div>
                <button (click)="isEmpForm = true" class="col-2 btn btn-secondary btn-sm ms-5" style="height:30px; width:10%">Add</button>
            </div>
            <div class="row">
                <div *ngFor="let emp of allEmployees$ | async" class="col-4 d-flex mb-2">
                    <div class="card w-100">
                        <div class="card-header bg-primary">
                            {{emp.employeeName}}
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-6">
                                    <i class="fa-solid fa-building"></i>
                                    <p>{{emp.deptName}}</p>
                                </div>
                                <div class="col-6">
                                    <i class="fa-solid fa-address-book"></i>
                                    <p>{{emp.contactNo}}</p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-6">
                                    <i class="fa-solid fa-envelope"></i>
                                    <p>{{emp.contactNo}}</p>
                                </div>
                                <div class="col-6">
                                    <i class="fa-brands fa-critical-role"></i>
                                    <p>{{emp.role}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="isEmpForm? '': 'visually-hidden'" class="col-4 create-emp-form">
            <div class="border border-1 border-secondary rounded p-2">
                <div class="row align-items-center justify-content-end">
                    <button (click)="isEmpForm = false" class="col-2 btn btn-sm btn-secondary me-2">Close</button>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="empName" class="form-label">Name</label>
                        <input type="text" id="empName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="empContact" class="form-label">Contact No</label>
                        <input type="text" id="empContact" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="empEmail" class="form-label">Email-Id</label>
                        <input type="text" id="empEmail" class="form-control">
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <input class="form-check-input ms-2" type="radio" value="male" id="empGender" name="empGender">
                        <label class="form-check-label ms-1" for="empGender">Male</label>
                        <input class="form-check-input ms-2" type="radio" value="female" id="empGender" name="empGender">
                        <label class="form-check-label ms-1" for="empGender">Female</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="empPassword" class="form-label">Password</label>
                        <input type="password" id="empPassword" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="empDept" class="form-label">Select Department</label>
                        <select class="form-select" name="empDept" id="empDept">
                            @for (dept of allDept$ | async; track dept.deptId) {
                                <option [value]="dept.deptId">{{dept.deptName}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="empRole" class="form-label">Select Role</label>
                        <select class="form-select" name="empRole" id="empRole">
                            <option value="employee">Employee</option>
                            <option value="deptHead">Admin Department Employee</option>
                            <option value="deptHead">Department Head</option>
                            <option value="deptHead">Super Admin</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary rounded">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success rounded">Save Employee</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>