<div class="container-fluid border border-secondary border-1">
    <div class="row bg-success p-3">
        <div class="col-11 h5">
            <b>Ticket List</b>
        </div>
        <div class="col-1 justify-content-end">
            <button (click)="openNewTicketModal()" class="btn btn-sm btn-primary">
                New Ticket
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-flex mb-2">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    Employee Number...
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newTicketModal" tabindex="-1" aria-labelledby="newTicketModal" aria-hidden="true" #newTicketModal>
    <div class="modal-dialog" style="top: 5%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Ticket</h5>
          <button (click)="closeNewTicketModal()" type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="newTicketForm" class="col-12 create-emp-form">
                <div class="p-2">
                    <div class="row">
                        <div class="col-6">
                            <label for="empRole" class="form-label">Severity</label>
                            <select formControlName="severity" class="form-select" name="empRole" id="empRole">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="empRole" class="form-label">Department</label>
                            <select formControlName="deptId" class="form-select" name="empDept" id="empDept">
                                @for (dept of allDept$ | async; track dept.deptId) {
                                    <option [value]="dept.deptId">{{dept.deptName}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="empName" class="form-label">Comments</label>
                            <textarea formControlName="requestDetails" type="text" id="empName" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeNewTicketModal()" class="btn btn-secondary">Close</button>
          <button type="button" (click)="newTicketForm.reset()" class="btn btn-primary">Reset</button>
          <button type="button" (click)="createNewTicket()" class="btn btn-success">Create Ticket</button>
        </div>
      </div>
    </div>
  </div>